<ion-header>
  <ion-toolbar>
    <pt-header></pt-header>
  </ion-toolbar>
  <ion-navbar class="profile-header sub-header-profile">
    <ion-title>{{'MENU.RECOMMENDEDPATHER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content default-grey-background>
  <ion-refresher (ionRefresh)="refresh$($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-list *ngIf="pathers.length > 0" margin-top margin-bottom>
        <ion-item *ngFor="let us of pathers;">
            <ion-row padding-top padding-bottom>
                <ion-col col-3 (click)="goProfile(us)">
                    <img src="{{us.getProfilePicture()}}"/>
                </ion-col>
                <ion-col col-6 padding-top (click)="goProfile(us)">
                    <h3>{{us.firstname}} {{us.lastname}}</h3>
                    <p>{{us.rank}} | {{us.points}} Pts</p>
                </ion-col>
                <ion-col col-3>
                    <pt-follow [u]="us" primary-color></pt-follow>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

    <pt-page-empty *ngIf="pathers.length === 0" page="FOLLOW" image="assets/img/user-search.png"></pt-page-empty>


</ion-content>
