page-feed {
  .search-pather-feed {
    background-color: map-get($colors, primary);
    padding: 12px;
    ion-row {
      margin-top: 12px;
      background-color: white;
    }
  }
  .user-item-search {
    height: 76px;
    h3 {
      margin: 0;
      color: map-get($colors, primary);
    }
    p {
      margin-top: 5px;
    }
  }
  .toolbar .searchbar-ios .searchbar-input {
    background-color: white;
  }
  .new-creation-div {
    z-index: 50;
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 45px;
    height: 45px;
    background-color: map-get($colors, 'light');
    border-radius: 50%;
    ion-icon {
      font-size: 60px !important;
      color: map-get($colors, 'primary');
      margin-top: -13px;
      margin-left: -2px;
    }
  }
}
