<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874360001878-v6a0rq0e6halrfbcnrnkd7hfmo38eec0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874360001878-v6a0rq0e6halrfbcnrnkd7hfmo38eec0</string>
	<key>API_KEY</key>
	<string>AIzaSyA2vyiuB9IadBnSZCV5kLsWk8ILQSr-Ess</string>
	<key>GCM_SENDER_ID</key>
	<string>874360001878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.pathtime.PathTime</string>
	<key>PROJECT_ID</key>
	<string>pathtime-1360</string>
	<key>STORAGE_BUCKET</key>
	<string>pathtime-1360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:874360001878:ios:47929d0c4659b454</string>
	<key>DATABASE_URL</key>
	<string>https://pathtime-1360.firebaseio.com</string>
</dict>
</plist>