<div>
  <ion-row (tap)="closeModal(3)">
    <div class="event-selection-modal-icon icon-full-size">
          <ion-icon name="icon-check-circle-08" color="secondary"></ion-icon>
    </div>
    <h5>Interested</h5>
  </ion-row>
  <ion-row (tap)="closeModal(2)">
    <div class="event-selection-modal-icon icon-normal-size">
          <ion-icon name="icon-ic_hourglass_full_24px" color="light"></ion-icon>
    </div>
    <h5>Not sure</h5>
  </ion-row>
  <ion-row (tap)="closeModal(1)">
    <div class="event-selection-modal-icon icon-full-size">
          <ion-icon name="icon-circle-remove" color="primary"></ion-icon>
    </div>
    <h5>Not Interested</h5>
  </ion-row>
</div>
