pt-page-empty {

  img {
    width: 80%;
    border: 0;
    margin-left: 10%;
    box-shadow: 0 5px 10px 5px rgba(96, 96, 96, 0.59);
  }

  .empty-icon-example {
    margin-left: calc(50% - 20px);;
    font-size: 40px;
  }

  .validateButton {
      margin-left: calc(50% - 70px);
      width: 140px;
  }

}
